<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Light Energy - Terapias Holísticas - Compras</title>
    
</head>
<body>
    <header>
        <nav>
            <h1>Light Energy - Terapias Holísticas</h1>
        </nav>
    </header>
    <main>
        <section>
            <h2>Compras</h2>
            <form action="#" method="GET">
                <div>
                    <label for="">Nombre del producto</label>
                    <input type="text" name="firstname" id="firstname" required>
                </div>
                <br>
                <div>
                    <label for="">Cantidad</label>
                    <input type="number" name: "cant" id="cant">
                </div>
                         
                <br>
                <div>
                    <label for="">Forma de pago</label>
                    <select name="Pago" id="Pago" required>
                        <option value="">Seleccione</option>
                        <option value="TC">Tarjeta de Crédito</option>
                        <option value="TD">Tarjeta de Débito</option>
                        <option value="BE">Billetera Electrónica</option>
                    </select>
                </div>
                
                    <!-- 
                    
                    <input type="checkbox" id="terms2" name="terms">
                    <label for="terms">Otra opcion</label>
                    -->
                </div>
                <!-- boton de envio 
                <input type="submit" value="Registrarse">-->
                <button type="pago">
                    <a href="./pago.html">Pagar</a>
                </button>
            </form>
        </section>
    </main>
</body>
</html>