<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css">
    <title>Preguntas frecuentes</title>
</head>
<body>
    <header id="volverArriba">
        <!-- URL al logo -->
        <img src="IMAGEN\LOGO.png" alt="Logo" width="130">
        <h1>Light Energy - Terapias Holísticas</h1>
    </header>

    <section id="preguntas">
        <div class="popup-content">
            <h2>Preguntas Frecuentes</h2>
            <span >          
                <h3 class="subtitulo">¿Qué es la terapia holística?</h3>
                <p>La terapia holística es un enfoque que considera a la persona en su totalidad, abordando el cuerpo, la mente y el espíritu para promover el bienestar general. Incorpora diversas técnicas y modalidades para equilibrar y armonizar estos aspectos.</p>
            </span>
            <span>
                <h3 class="subtitulo">¿Qué tipos de terapias holísticas ofrecen?
                </h3>
                <p>Ofrecemos una variedad de terapias holísticas que incluyen Reiki, aromaterapia, meditación, terapia de cristales, acupuntura, reflexología y más. Cada terapia se adapta a las necesidades individuales de nuestros clientes.</p>
            </span>
            <span>
                <h3 class="subtitulo">¿Cómo puedo programar una cita?</h3>
                <p>Puede programar una cita llamando a nuestro número de teléfono, enviando un correo electrónico o completando el formulario de contacto en nuestro sitio web. Estaremos encantados de ayudarle a encontrar el mejor momento para su sesión.</p>
            </span>
            <span>
                <h3 class="subtitulo">¿Qué debo esperar durante una sesión de terapia holística?</h3>
                <p>Durante una sesión, usted puede esperar un ambiente relajante y seguro donde se le guiará a través de la terapia elegida. Nuestros terapeutas trabajarán con usted para identificar áreas de desequilibrio y promover la curación y el bienestar.</p>
            </span>
            <span>
                <h3 class="subtitulo">¿Es seguro participar en terapias holísticas si tengo una condición médica?</h3>
                <p>Siempre recomendamos consultar con su médico antes de participar en cualquier terapia holística, especialmente si tiene una condición médica preexistente. Nuestros terapeutas están capacitados para adaptar las sesiones según sus necesidades individuales, pero es importante informarnos sobre cualquier problema de salud.</p>
            </span>
            <span>
                <h3 class="subtitulo">¿Cuántas sesiones de terapia holística necesitaré?</h3>
                <p>La cantidad de sesiones necesarias puede variar según la persona y la terapia específica. Algunos clientes experimentan beneficios después de una sola sesión, mientras que otros pueden requerir un enfoque más continuo. Nuestros terapeutas trabajarán con usted para desarrollar un plan de tratamiento personalizado.</p>
            </span>
            <span>
                <h3 class="subtitulo">¿Cómo puedo prepararme para mi sesión de terapia holística?</h3>
                <p>Recomendamos vestir ropa cómoda y llegar a tiempo para su cita. También puede ser útil prepararse mentalmente para la sesión, estableciendo intenciones o reflexionando sobre lo que espera lograr.</p>
            </span>
            <span>
                <h3 class="subtitulo">¿Cuál es la diferencia entre la terapia holística y la medicina convencional?</h3>
                <p>La terapia holística se centra en abordar la persona en su totalidad, incluyendo aspectos físicos, mentales, emocionales y espirituales, mientras que la medicina convencional a menudo se centra en tratar síntomas específicos. Ambos enfoques pueden complementarse entre sí para promover la salud y el bienestar integral.</p>
            </span>
            <span>
                <h3 class="subtitulo">¿Ofrecen servicios en línea o a distancia?</h3>
                <p>Sí, ofrecemos servicios en línea y a distancia para aquellos que no pueden acceder a nuestras instalaciones físicas. Póngase en contacto con nosotros para obtener más información sobre nuestras opciones de terapia en línea.</p>
            </span> 
            <span>
                <h3 class="subtitulo">¿Cómo puedo pagar por mis sesiones de terapia holística?</h3>
                <p>Aceptamos pagos en efectivo, transferencias bancarias y tarjetas de crédito/débito. Se requerirá el pago al momento de la sesión, a menos que se haya hecho otros arreglos con anticipación.</p>
            </span>
                
        </div>
    
    
    </section>
    <footer>
        <!-- Falta completar los links y hacer botones correspondientes-->
        
        <a href="/index.html" class="botonFooter">Pagina Principal</a>
        <a href="/Templates/terminos y condiciones.html" class="botonFooter">Terminos y condiciones</a>        
        <a href=""" class="botonFooter">Contactame </a>
        


    </footer>
</body>
</html>