<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../style.css">
    <link rel="icon" href="../assets/LOGO.png" type="image/png">

    <title>Terminos y condiciones</title>
</head>
<body>
    <header id="volverArriba">
        <!-- URL al logo -->
        <img src="../assets/LOGO.png" alt="Logo" width="130">
        <h1>Light Energy - Terapias Holísticas</h1>
    </header>

    <section id="terminos">
        <div class="popup-content">
            <h2>Terminos y Condiciones</h2>
            <span>          
                <h3 class="subtitulo">1. Aceptación de los Términos</h3>
                <p>Al acceder y utilizar este sitio web, usted acepta cumplir con estos términos y condiciones de uso. Si no está de acuerdo con alguna parte de estos términos, por favor absténgase de utilizar este sitio.</p>
            </span>
            
            <span>          
                <h3 class="subtitulo">2. Uso del Sitio</h3>
                <p>El contenido de este sitio web es únicamente para fines informativos y no debe ser considerado como asesoramiento médico, psicológico o profesional. No se debe usar la información en este sitio para diagnosticar o tratar ninguna condición de salud sin consultar a un profesional de la salud calificado.</p>
            </span>
            
            <span>          
                <h3 class="subtitulo">3. Propiedad Intelectual</h3>
                <p>Todo el contenido de este sitio web, incluyendo pero no limitado a texto, gráficos, logotipos, imágenes y software, está protegido por derechos de autor y otros derechos de propiedad intelectual. No está permitido copiar, distribuir, modificar o reproducir ningún contenido sin autorización previa por escrito.</p>
            </span>
            
            <span>          
                <h3 class="subtitulo">4. Enlaces a Terceros</h3>
                <p>Este sitio web puede contener enlaces a sitios web de terceros que no están bajo nuestro control. No somos responsables del contenido, las políticas de privacidad o las prácticas de esos sitios web. La inclusión de cualquier enlace no implica necesariamente una recomendación o respaldo por nuestra parte.</p>
            </span>
            <span>          
                <h3 class="subtitulo">5. Limitación de Responsabilidad</h3>
                <p>Este sitio web se proporciona "tal cual" y "según disponibilidad". No garantizamos la exactitud, la puntualidad, la integridad o la idoneidad de la información y los materiales encontrados en este sitio para ningún propósito en particular. Usted acepta que el uso de este sitio es bajo su propio riesgo y que no seremos responsables de ningún daño directo, indirecto, incidental, consecuente o punitivo que surja del uso o la incapacidad de usar este sitio.</p>
            </span>
            <span>          
                <h3 class="subtitulo">6. Modificaciones</h3>
                <p>Nos reservamos el derecho de modificar estos términos y condiciones en cualquier momento sin previo aviso. El uso continuado de este sitio web después de la publicación de cambios constituirá su aceptación de dichos cambios.</p>
            </span>
            <span>          
                <h3 class="subtitulo">7. Ley Aplicable</h3>
                <p>Estos términos y condiciones se regirán e interpretarán de acuerdo con las leyes del lugar donde se encuentra ubicada nuestra empresa, sin tener en cuenta sus disposiciones sobre conflictos de leyes. Al utilizar este sitio web, usted reconoce haber leído, entendido y aceptado estos términos y condiciones en su totalidad. Si tiene alguna pregunta o inquietud, no dude en ponerse en contacto con nosotros.</p>
            </span>
          
            <p>Ultima Actualicación: 29/04/2024</p>
            
        </div>
            
    
    </section>
    <footer>
        
        <a href="../index.html" class="botonFooter">Pagina Principal</a>
        <a href="./preguntas.html" class="botonFooter">Preguntas Frecuentes </a>
        <a href="../Limpiezaener.html" class="botonFooter">Contactame </a>
        


    </footer>
</body>
</html>